<section>
 <strong>Commenter:</strong>
 <%= comment.commenter %>
</section>

<section>
 <strong>Comment:</strong>
 <%= comment.body %>
</section>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } , class: 'btn btn-outline-secondary'%>
</p>
